@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend+Deca:wght@100..900&family=Rubik+Marker+Hatch&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');


@font-face {
    font-family: 'boombox';
    src: url('../desafio012/fonts/boombox.TTF') format('truetype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(187, 187, 187);
}

:root {
    --font-title: 'boombox';
    --font-subs: 'fredoka';
    --font-h2: 'belanosima';
}


header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    box-shadow: 3px 3px 3px 3px;
}

header > h1 {
    font-size: 10vw;
    font-family: var(--font-title);
    margin: 10px;
}


header > h2 {
    font-size: 1em;
    font-family: var(--font-h2);
    text-decoration: none;
    padding-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0px;
}

article {
    font-family: var(--font-subs);
    font-size: 5vw;
    line-height: 0.5em;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

section.l1 {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    margin: 0px;
    box-shadow: 3px 3px 3px 3px;
}

section.l2 {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    margin: 0px;
}

section.l3 {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    margin: 0px;
}

section.chorus {
    background: black url('../images/soldados-de-vista-frontal-na-zona-de-guerra.jpg') center center no-repeat fixed;
    background-size: cover;
    padding: 30px;
}

section.chorus > p {
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    border-radius: 20px;

}

section.chorus2 {
    padding: 30px;
    background-color: rgb(219, 188, 101);
}

section.chorus3 {
    background: black url('../images/soldados-generativos-de-ia-andando-pelas-ruas-de-uma-cidade-em-ruinas.jpg') center center no-repeat fixed;
    background-size: cover;
    padding: 20px;
}

section.chorus3 > p {
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    border-radius: 20px;
}

p {
    margin: 0px;
    line-height: 1.2em;
}

aside {
    
}

footer {
    background-color: black;
    padding: 10px;
    font-family: var(--font-subs);
    color: white;
    text-align: center;
    font-size: 1.1em;
}